.card {
  position: relative;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  flex-basis: 325px;
  flex-grow: 0;
  flex-shrink: 1;
}
.card__title {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #f0f0f0;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 2px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.card__image {
  width: 100%;
}
.card__image:hover {
  cursor: pointer;
}
