.weather-card {
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.weather-card__temp {
  color: #fff;
  position: absolute;
  margin: 0;
  top: 20px;
  line-height: 40px;
  font-size: 36px;
  left: 16px;
}
.weather-card__image {
  width: 100%;
  object-fit: cover;
  object-position: top right;
}
@media (max-width: 600px) {
  .weather-card__temp {
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
}
