.cards {
  width: 100%;
}
.cards__list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 85px;
}
@media (max-width: 768px) {
  .cards__list {
    justify-content: center;
  }
  .cards__text {
    text-align: center;
  }
}
