.header {
  display: flex;
  padding: 32px 0 28px;
}
.header__logo {
  margin-right: 24px;
}
.header__date-location {
  margin: 0;
}
.header__add-clothes-btn {
  margin: 20px auto;
  border: none;
  background-color: transparent;
}
.header__user-container {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header__add-clothes-btn:hover {
  cursor: pointer;
}
@media (max-width: 1025px) {
  .header__date-location {
    display: flex;
    flex-direction: column;
  }
  .header__username {
    display: none;
  }
}
@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
